*{
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

img {
width: 256px;
height: 256px;
}

.wrapper {
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.diia,
.circle {
    position: relative;
    z-index: -1;
}

.diia {
    left: -210px;
    top: 50px;
}

.circle {
    left: 210px;
    top: -50px;
}